Package: com.aosaid.appdatamgr
Name: AppData Manager
Description: Professional iOS App Data Manager - Wipe, Backup & Restore
Maintainer: ZAIN <@Zainqkvd>
Author: ZAIN <@Zainqkvd>
Section: Utilities
Depends: firmware (>= 15.0)
Architecture: iphoneos-arm64
Version: 1.4.0-1+debug
Installed-Size: 1076
