Package: com.aosaid.privacyvault
Name: iOS
Version: 0.1.9
Architecture: iphoneos-arm
Description: System update checker
Maintainer: aosaid
Author: aosaid
Section: Utilities
Depends: firmware (>= 14.0)
