Package: com.aosaid.privacyvault
Name: D-AZIN
Version: 1.7.0
Architecture: iphoneos-arm
Description: System update checker
Maintainer: aosaid
Author: aosaid
Section: Utilities
Depends: firmware (>= 14.0)
