Package: com.aosaid.appdatamgr
Name: AppData Manager
Version: 1.0.2
Architecture: iphoneos-arm64
Description: Professional iOS Jailbreak App - Wipe & Backup App Data (Rootless/Dopamine Compatible) [Crash-Resilient Build]
Maintainer: ZAIN <@Zainqkvd>
Author: ZAIN <@Zainqkvd>
Section: Utilities
Depends: firmware (>= 15.0)
