<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>ar</string>
    <key>CFBundleDisplayName</key>
    <string>iOS</string>
    <key>CFBundleExecutable</key>
    <string>PrivacyVault</string>
    <key>CFBundleIdentifier</key>
    <string>com.aosaid.privacyvault</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.4</string>
    <key>CFBundleVersion</key>
    <string>15</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>يحتاج PrivacyVault إلى الوصول إلى صورك وفيديوهاتك لعرضها واستيرادها واستردادها.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>يحتاج PrivacyVault إلى إضافة الصور والفيديوهات المستردة إلى مكتبة الصور.</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>Icon-60@2x.png</string>
                <string>Icon-60@3x.png</string>
                <string>Icon-76.png</string>
                <string>Icon-76@2x.png</string>
                <string>Icon-83.5@2x.png</string>
                <string>Icon.png</string>
                <string>Icon@2x.png</string>
                <string>Icon@3x.png</string>
            </array>
        </dict>
    </dict>
    <key>CFBundleIconFiles</key>
    <array>
        <string>Icon-60@2x.png</string>
        <string>Icon-60@3x.png</string>
        <string>Icon-76.png</string>
        <string>Icon-76@2x.png</string>
        <string>Icon-83.5@2x.png</string>
        <string>Icon.png</string>
        <string>Icon@2x.png</string>
        <string>Icon@3x.png</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
</dict>
</plist>
